
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover dataTables" cellspacing="0" width="100%" id="bookGrid">
    <thead>
        <tr>
            @*<th class="main-text-color">Kitap Adı</th>*@
            <th class="main-text-color">ISBN</th>
            <th class="main-text-color">ASIN</th>
            <th class="main-text-color no-sort">Min ISBN (USED) $ Fiyatı</th>
            <th class="main-text-color no-sort">Min ISBN (NEW) $ Fiyatı</th>
            <th class="main-text-color no-sort">Min ISBN (USED) £ Fiyatı</th>
            <th class="main-text-color no-sort">Min ISBN (NEW) £ Fiyatı</th>
            <th class="main-text-color no-sort">Min ASIN (USED) $ Fiyatı</th>
            <th class="main-text-color no-sort">Min ASIN (NEW) $ Fiyatı</th>
            <th class="main-text-color no-sort">Min ASIN (USED) £ Fiyatı</th>
            <th class="main-text-color no-sort">Min ASIN (NEW) £ Fiyatı</th>
            <th class="main-text-color stayline no-sort">İşlem</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            @*<th class="main-text-color"></th>*@
            <th class="main-text-color"></th>
            <th class="main-text-color"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color no-sort"></th>
            <th class="main-text-color stayline no-sort"></th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>

