<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="UK_AccessKey" value="" />
    <add key="UK_SecretKey" value="" />
    <add key="UK_AssociateTag" value="burakozkanuk-21" />
    <add key="US_AccessKey" value="" />
    <add key="US_SecretKey" value="" />
    <add key="US_AssociateTag" value="burakozkan-20" />
  </appSettings>
</configuration>