<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ReadersHub.ProductAnalyzer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <ReadersHub.ProductAnalyzer.Properties.Settings>
            <setting name="ACCESS_KEY_ID" serializeAs="String">
                <value></value>
            </setting>
            <setting name="SECRET_KEY" serializeAs="String">
                <value></value>
            </setting>
            <setting name="MWS_DESTINATION" serializeAs="String">
                <value>https://mws.amazonservices.co.uk</value>
            </setting>
            <setting name="SELLER_ID" serializeAs="String">
              <value></value>
            </setting>
            <setting name="MARKETPLACE_ID" serializeAs="String">
              <value></value>
            </setting>
            <setting name="FEEDBACK_COUNT" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FEEDBACK_RATING" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SUB_CONDITION" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>New</string>
                        <string>Used - Like New</string>
                        <string>Used - Very Good</string>
                        <string>Used - Good</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="REMAINING_TOKEN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="REQUEST_RESTART_DATE" serializeAs="String">
                <value />
            </setting>
        </ReadersHub.ProductAnalyzer.Properties.Settings>
    </userSettings>
</configuration>