<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="MWS_DESTINATION" value="https://mws.amazonservices.co.uk" />

    <add key="ACCESS_KEY_ID_TOFFEE" value="" />
    <add key="SECRET_KEY_TOFFEE" value="" />
    <add key="SELLER_ID_TOFFEE" value="" />
    <add key="MARKET_PLACE_ID_TOFFEE" value="" />

    <add key="ACCESS_KEY_ID_POWERSELLER" value="" />
    <add key="SECRET_KEY_POWERSELLER" value="" />
    <add key="SELLER_ID_POWERSELLER" value="" />
    <add key="MARKET_PLACE_ID_POWERSELLER" value="" />

    <add key="ApiKey_Toffee" value=""/>
    <add key="ApiKey_Powerseller" value=""/>
  </appSettings>
</configuration>