
@{
    Layout = null;
}

<table class="table table-striped table-bordered table-hover table-menu dataTables" cellspacing="0" width="100%" id="adminUser">
    <colgroup>
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:20%">
        <col style="width:15%">
        <col style="width:20%">
        <col style="width:5%">
    </colgroup>
    <thead>
        <tr>
            <th class="main-text-color">Kullanıcı Adı</th>
            <th class="main-text-color">Ad Soyad</th>
            <th class="main-text-color">Email</th>
            <th class="main-text-color hidden-xs">Kayıt Tarihi</th>
            <th class="main-text-color">Erişebildiği Ekranlar</th>
            <th class="main-text-color stayline no-sort">İşlem</th>
        </tr>
    </thead>
    <tfoot>
        <tr>
            <th class="main-text-color"></th>
            <th class="main-text-color"></th>
            <th class="main-text-color">th>
            <th class="main-text-color hidden-xs"></th>
            <th class="main-text-color"></th>
            <th class="main-text-color stayline no-sort"></th>
        </tr>
    </tfoot>
    <tbody></tbody>
</table>
